@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root {
    --oswald: font-family: 'Dosis', sans-serif;

}

* {
    /* font-family: 'Oswald', sans-serif; */
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
}

body {
    overflow-x: hidden;
}

.logo {
    font-size: 1.5rem;
}

.logo span {
    color: rgb(0, 128, 192);
    font-size: 1.5rem;
}

header {
    background-color: #414a4c;
    /* margin: 10px; */
    height: 10vh;
    display: flex;
    /* border-radius: 50px; */
    position: sticky;
    opacity: 100%;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    background-color: transparent;
    padding: 0 10%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    display: flex;
    margin-right: 10%;
    white-space: nowrap;
    /* background-color: white; */
    color: rgb(255, 255, 255);


}

a:visited {
    color: inherit;
}


nav ul li a::after {
    content: "";
    width: 0%;
    height: 15%;
    background-color: rgb(26, 135, 203);
    display: block;
    margin: auto;


}

nav ul li a:hover::after {
    width: 100%;
    transition: 0.4s;


}

.hero {
    background-image: linear-gradient(0deg, #414a4c, rgba(0, 36, 77, .5)), url("pakata-goh-EJMTKCZ00I0-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    background-attachment: fixed;
    width: 100vw;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.hero h1 {
    color: aliceblue;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3%;
}

/* .hero a {
    background-color: white;
    padding: 1% 2%;
    margin-top: 3%;
    color: inherit;
    cursor: pointer;
    border: solid 1px white;
} */

/* .hero a:hover {
    background-color: transparent;
    border: solid 1px rgb(255, 255, 255);
    color: white;
} */

.hero p {
    color: #414a4c;
    font-size: 1.4rem;
    text-align: center;
}

.scroll-down {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: +10%;
    transform: rotate(45deg);
}

.hero span {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    animation: animate 1.5s linear infinite;
}

.scroll-down span:nth-child(1) {
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;
}

.scroll-down span:nth-child(2) {
    transform: translate(0, 0);
    animation-delay: -0.2s;
}

.scroll-down span:nth-child(3) {
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes animate {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
        /* border-bottom: 2px solid rgb(0, 0, 0); */
        /* border-right: 2px solid rgb(0, 0, 0); */
    }

    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
}


.selfIdent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contactInfos i{
    font-size: 2rem;
    margin: 10% 0;
    color: #242627;
}

.projects h1,p{
    color: #242627;
    white-space: nowrap;
    /* text-align: center; */
}

.section-name{
    font-size: 1.8rem;
    margin: 2%;
}

.projects{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 0 0 0 50%; */
}
.projects .filteringBlocks{
display: flex;

}

.projects .filteringBlocks .filter{
cursor: pointer;
padding: 1%;
border: solid 1px #242627;
display: flex;
align-items: center;
justify-content: center;
margin: 1%;
}
.projects .all-projects{
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 10%; */
    /* background-color: blue; */
    padding:5% 7%;

}
.projects .all-projects .project{
    border: 1px solid #414a4c;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 12vh;
}







/* 
.services {
    
    align-items: center;
    flex-direction: column;
    color: #242627;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services .container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 4%;
    width: 90vw;
    text-align: center;
    padding: 2% 0;
}

.container .service {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
    cursor: pointer;
}

.service h2 {
    font-weight: 200;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    padding: 3% 0;
}

.services p {
    text-align: center;
}

.service i {
    font-size: 1.5rem;
}

.displaynone {
    display: none;
}

.displayblock {
    display: block;
}

.service {
    transition: 0.2s;
}

.service:hover {
    opacity: 0.5;
}

#about {
    margin: 10%;
    display: none;

}

.goal {
    line-height: 5vh;
    font-family: var(--oswald);
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.why {
    line-height: 5vh;
    margin: 10%;
    display: flex;
    gap: 10%;
}

.why h1 {
    font-family: 'Oswald', sans-serif;

}

.why .image2 {
    background-image: linear-gradient(0deg, rgba(0, 57, 127, 0.5), rgba(0, 36, 77, .7)), url("pc2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

footer {
    color: white;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    height: 20vh;
} 